# IDEA
.idea/
*.iml
bin-debug/

# Flash Builder
.settings
.flexProperties
.flexLibProperties
.actionScriptProperties
.project
bin

# Maven
target/

# Gradle
build/
.gradle/
lib/

# other
.DS_Store
unused/
rsync.sh
rsync_vanilla.sh
libs/
Flash Player Debugger.app/
